@import "~bootstrap/scss/bootstrap";

#root {
  height: 100vh;
  display: flex;
}

.main {
  width: 950px;
  margin: auto;
}

.recipe-view {
  height: 100vh;
}

.mt-10vh {
  margin-top: 10vh;
}

.search-bar {
  display: block;
  margin: auto;
}

.search-btn {
  margin-right: auto;
}

.spinner-grow {
  position: absolute;
  width: 3rem;
  height: 3rem;
}

.recipeInList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 350px;
}

.recipeInList:hover {
  opacity: .7;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(150,150,150);
  text-decoration: none;
}